* {
	box-sizing: border-box;
	margin: 0;
} 
body {
 	font-family: 'GoudyRegular', serif;
	height: 100%;
	letter-spacing: 1px;
}
a {
	color: inherit;
	text-decoration: none;
	-webkit transition: color .4s;
	transition: color .4s;
}
header {
	margin: 20px;
}
footer {
	font-size: .6em;
	font-style: italic;
	letter-spacing: 1px;
	margin: 3% 0 2% 0;
	position: relative;
	text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
nav a {
	font-family: Avenir, 'Montserrat', Helvetica;
	font-weight: 400;
	text-transform: uppercase;
}
h1 {
	font-size: 3em;
}
img {
 	max-width: 100%;
 	height: auto;
}
li {
	list-style: none;
}
p {
	font-size: 1.15em;
 	line-height: 1.5em;
}
.clearfix {
	clear: both;
}
.table {
	display: table;
	margin: 0 auto;
}
ul {
	padding: 0;
}

/************************************************
				HEADER
************************************************/

.header-wrapper {
	margin: 0 auto;
	text-align: center;
}
.site-title {
	margin: 30px 0;
	text-transform: uppercase;
}
.site-title a{
	color: #000;
}
nav {
	margin: 30px 0;
}
nav a {
	margin: 0 20px;
}
nav a:hover {
	border-bottom: 2px dotted #fff;
}

/************************************************
				HOME PAGE
************************************************/

.home-slider img {
	width: 100%;
}

/************************************************
				GALLERY PAGE
************************************************/

.album-wrapper {
	margin: 20px 10px;
}
.content-wrapper {
	margin: 0 auto;
	max-width: 1200px;
}
.cover {
	height: auto;
	margin-bottom: 20px;
	-webkit transition: transform .7s;
	transition: transform .7s;
	width: 100%;
}
.cover:hover {
	-webkit-transform: scale(1.03);
	-ms-transform: scale(1.03);
	transform: scale(1.03);
}
.gallery-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

/************************************************
				ABOUT PAGE
************************************************/
.about-text {
	margin: 0 auto;
	max-width: 450px;
}
.about-text p{
	letter-spacing: 0;
	margin: 15px;
}
.bottom-wrapper {
	text-align: center;
}
.bottom-wrapper h3 {
	text-transform: uppercase;
}
.col {
	border-bottom: 1px solid #aaa;
	margin: 10px 0;
}
.profile-pic {
	margin: 15px auto;
	width: 360px;
}

/************************************************
				ALBUM PAGE
************************************************/
.thumb-wrapper {
	background: #eeeeee;
}

#imageGallery img {
	margin: 5px;
	width: 315px;
}
.inner-wrapper {
	display: none;
}
.album-name {
	padding: 20px 0;
	text-align: center;
}
.main-wrapper {
	text-align: center;
	top: 0;
}
.web-footer {
	display: none;
}






